<header>
  <nav class="container-fluid mainHeader">
    <img class="fluff" src="/images/logo-brand-3d.png" alt="">
    <ul>
      <li>
        <a class="linkTo" href="/">Home</a>
      </li>
      <li>
        <a class="linkTo" href="/products">Products</a>
      </li>
      <li>
        <a class="linkTo" href="/realTime">Real Time</a>
      </li>
      <li>

      <a href="/carts"><img src="../public/images/2205959_cart_bag_internet_shopping_buy_icon.svg" alt=""></a>
      </li>
      <li>
        <a class="linkTo" href="/chat">Contact us</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <div>
    {{#each products}}
      <p style="text-align: center; font-size:large">{{title}}</p>
      <p style="text-align: center; color:green; font-weight: bold">Category</p>
      <p style="text-align: center; color:chocolate">{{category}}</p>
      <br>
    {{/each}}
  </div>
  <div class="container-fluid">
  <div class="pages">
    <a class="pages" href="./?page=1">First page</a>
      {{#if hasPrevPage}}
        <a class="pages" href="./?page={{prevPage}}">Previous</a>
      {{/if}}
      {{#if hasNextPage}}
        <a class="pages" href="./?page={{nextPage}}">Next</a>
      {{/if}}
    <a class="pages" href="./?page={{totalPages}}">Last page</a>
  </div>
  </div>
</main>