<header>
  <nav class="container-fluid mainHeader">
    <img class="fluff" src="/images/logo-brand-3d.png" alt="">
    <ul>
      <li>
        <a class="linkTo" href="/">Home</a>
      </li>
      <li>
        <a class="linkTo" href="/products">Products</a>
      </li>
      <li>
        <a class="linkTo" href="/realTime">Real Time</a>
      </li>
      <li>
        <a class="linkTo" href="/chat">Contact us</a>
      </li>
    </ul>
  </nav>
</header>

<div>
    <input type="text" value="{{carritoId}}" id="carrito">

<ul>
    {{#each products}}
    <br>
    <li>{{this.title}}</li>
    <li>{{this.description}}</li>
    <li>{{this.price}}</li>
    <li>{{this.images}}</li>
    <li>{{this.code}}</li>
    <li>{{this.stock}}</li>
    <li>{{this.category}}</li>
    <li>{{this.status}}</li>
    <button onclick="agregar('{{this._id}}')">Agregar al Carrito</button>
    <br>
    {{/each}}
</ul>
</div>
<div class="container-fluid">
  <div class="pages">
    <a class="pages" href="./products?page=1">First page</a>
      {{#if hasPrevPage}}
        <a class="pages" href="./products?page={{prevPage}}">Previous</a>
      {{/if}}
      {{#if hasNextPage}}
        <a class="pages" href="./products?page={{nextPage}}">Next</a>
      {{/if}}
    <a class="pages" href="./products?page={{totalPages}}">Last page</a>
  </div>
  </div>